@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }

    header {
        display: flex;
        flex-direction: row;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        background-image: linear-gradient(to right, rgb(230, 255, 190), white, white);
    }

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    nav {
        display: flex;
        height: 100%;
        padding: 10px;
        width: 100%;

    }

    nav .nav-list {
        justify-content: center;
        align-items: center;
    }

    nav li {
        padding-top: 40px;
        list-style-type: none;
    }

    nav a {
        text-decoration: none;
        font-size: 1.5rem;
        color: grey;
    }

    #hero {
        display: flex;
        background-image: url(chameleon-6307349_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        z-index: 1;
        height: 500px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #hero .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        position: relative;
        color: white;
    }

    #hero h3 {
        display: block;
        width: 100;
        font-size: 1rem;
        position: relative;
        color: white;
        align-items: center;

    }

    .text {
        display: flex;
        background-color: lightgrey;
    }

    .text article {
        width: 90%;
        justify-content: center;
    }

    .text h4 {
        font-size: 2rem;
    }

    .text img {
        width: 80%;
        justify-items: center;
    }

    .druhy {
        display: flex;
        justify-content: space-between;
    }

    .druhy .obrazky {
        justify-content: center;
    }

    .druhy img {
        object-fit: contain;
        width: 80%;
    }
}

section {
    display: flex;
    flex-direction: row;
}

section.pozadi {
    background-image: linear-gradient(to right, rgb(230, 255, 190), white, white,white);
    flex-direction: column;
    padding: 0;
    width: 100%;
}

header {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header .nav-list ul {
    list-style: none;
    top: 0;
    display: flex;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    height: 68px;
    align-items: center;
    padding: 0;
}

header .nav-list ul a {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
    display: block;
    color: grey;
}

#hero {
    display: flex;
    background-image: url(chameleon-6307349_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
    height: 1080px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    position: relative;
    background-color: rgba(99, 99, 99, 0.504);
    color: whitesmoke;
    height: 1080px;
    width: 100%;
}

#hero h3 {
    display: block;
    width: 100;
    font-size: 2rem;
    position: relative;
    color: whitesmoke;
    align-items: center;

}

.text#text {
    display: flex;
    padding: 5%;
    flex-direction: column;
}

.text#text article {
    display: flex;
    width: 100%;
    margin-left: 3%;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.text#text h4 {
    padding-bottom: 25px;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

.text#text img {
    width: 100%;
    justify-items: center;
    border-radius: 50px;
    margin-top: 10px;
    height: 270px;
}

.text#text div.clanek {
    display: flex;
    flex-direction: column;
    width: 80%;
}

section.druhy#druhy {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 96%;
    background-image: linear-gradient(to bottom right, rgb(230, 255, 190), white, white, white, white, white);
}

.druhy#druhy .obrazky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10%;
}

.druhy#druhy .obrazky .obrazek {
    height: 500px;
    box-shadow: 5px 5px 5px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.druhy#druhy .obrazky .obrazek p {
    padding-left: 15px;
    color: green;
    font-size: 1.5rem;
}

.druhy#druhy .idk {
    display: flex;
    justify-content: center;
}

.druhy#druhy a button {
    margin-top: 15px;
    padding: 2px;
    font-size: 1.5rem;
    width: 35%;
    background-color: rgb(140, 190, 140);
    color: white;
    border: none;
    border-radius: 40px;
    justify-content: baseline;
}

.druhy#druhy .obrazky .obrazek button {
    margin-left: 15px;
    padding: 2px;
    font-size: 1.5rem;
    width: 35%;
    background-color: rgb(140, 190, 140);
    color: white;
    border: none;
    border-radius: 40px;
    justify-content: flex-start;
}

.druhy#druhy img {
    object-fit: cover;
    height: 300px;
    width: 370px;
    border-radius: 10px;
}

.kon-container {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid lightgrey;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

input,
textarea {
    padding: 2%;
    margin: 1rem;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 4px;
    box-shadow: 5px 5px 5px lightgrey;
}

textarea {
    height: 10rem;
}


.input2 {
    width: 88%;
}

input[type=submit] {
    background-color: rgb(140, 190, 140);
    color: white;
    cursor: pointer;
    border-radius: 40px;
    width: 25%;
}


.kontakty {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.mapa {
    margin: 60px;
}

.texts#text {
    display: flex;
    background-color: rgba(235, 235, 235, 0.3);
    padding: 2%;
    flex-direction: column;
    height: 800px;
}

.texts#text article {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.texts#text h4 {
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
    font-size: 3rem;
}

.texts#text img {
    width: 390px;
    justify-items: center;
    border-radius: 50px;
    height: 270px;
}

.texts#text div.clanek {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.texts#text button {
    margin-top: 15px;
    padding: 5px;
    font-size: 1.5rem;
    width: 35%;
    background-color: rgb(140, 190, 140);
    color: white;
    border: none;
    border-radius: 40px;
}

.clanekk {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clanekk .obr {
    display: flex;
    background-image: url("jemenak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    justify-content: start;
    align-items: end;
    padding-bottom: 50px;
    margin-bottom: 15px;
}

.clanekk h3 {
    font-size: 2.5rem;
    padding-left: 50px;
}

.clanekk p {
    margin: 20px 90px 0 90px
}

section.druhyy#druhy {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 96%;
    background-image: linear-gradient(to bottom right, rgb(230, 255, 190), white, white, white, white, white);
    height: 800px;
}

.druhyy#druhy .obrazky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10%;
}

.druhyy#druhy .obrazky .obrazek {
    height: 500px;
    box-shadow: 5px 5px 5px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.druhyy#druhy .obrazky .obrazek p {
    padding-left: 15px;
    color: green;
    font-size: 1.5rem;
}
.druhyy#druhy .nadpis{
    width: inherit;
    display: flex;
    justify-content: center;
}
.druhyy#druhy h4{
    font-size: 2.5rem;
}

.druhyy#druhy .idk {
    display: flex;
    justify-content: center;
}

.druhyy#druhy a button {
    margin-top: 15px;
    padding: 2px;
    font-size: 1.5rem;
    width: 35%;
    background-color: rgb(140, 190, 140);
    color: white;
    border: none;
    border-radius: 40px;
    justify-content: baseline;
}

.druhyy#druhy .obrazky .obrazek button {
    margin-left: 15px;
    padding: 2px;
    font-size: 1.5rem;
    width: 35%;
    background-color: rgb(140, 190, 140);
    color: white;
    border: none;
    border-radius: 40px;
    justify-content: flex-start;
}

.druhyy#druhy img {
    object-fit: cover;
    height: 300px;
    width: 370px;
    border-radius: 10px;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
}

footer p {
    align-items: center;
}

@media (max-width:1600px) {
    .druhy#druhy .obrazky {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 10%;
        flex-direction: column;
        align-items: center;
    }

    .druhy#druhy img {
        object-fit: cover;
        height: 400px;
        width: 470px;
        border-radius: 10px;
    }

    .druhy#druhy .obrazky .obrazek {
        height: 600px;
        box-shadow: 5px 5px 5px lightgrey;
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 470px;
        margin-bottom: 100px;
    }

    .text#text article {
        display: flex;
        width: 100%;
        margin: 0 3% 0 3%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .text#text a {
        margin-bottom: 50px;
    }

    .text#text div.clanek {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section.druhyy#druhy {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 96%;
        background-image: linear-gradient(to bottom right, rgb(230, 255, 190), white, white, white, white);
        height: 100%;
    }

    .druhyy#druhy .obrazky {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 10%;
        flex-direction: column;
        align-items: center;
    }

    .druhyy#druhy img {
        object-fit: cover;
        height: 400px;
        width: 470px;
        border-radius: 10px;
    }

    .druhyy#druhy .obrazky .obrazek {
        height: 600px;
        box-shadow: 5px 5px 5px lightgrey;
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 470px;
        margin-bottom: 100px;
    }

    .texts#text article {
        display: flex;
        width: 95%;
        margin: 0 3% 0 3%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .texts#text a {
        margin-bottom: 50px;
        justify-content: center;
        display: flex;
    }

    .texts#text div.clanek {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
    }
    .text#text img {
        width: 100%;
        justify-items: center;
        border-radius: 50px;
        margin-top: 10px;
        height: 100%;
    }

    section.texts#text {
        height: 100%;
    }

    .clanekk h3 {
        font-size: 2.5rem;
        padding: 0 0 50px 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 2%;
        margin: 5%;
        border-radius: 20px;
        box-shadow: 10px 10px 10px grey;
        border: 1px solid lightgrey;
    }
}